body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  header {
    background-color:black;
    color: red;
    text-align: center;
    padding: 2.5rem 0;
  }
  
  main {
    padding: 2rem;
  }
  
  .stat-card {
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
  }
  
  .stat-card h2 {
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .stat-card p {
    font-size: 1.2rem;
    color: #4CAF50;
  }
  
  .charts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  canvas {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
